<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="tool_4.js"></script>
		<link href="tool.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<section ng-app="toolApp" ng-controller="toolCtrl">
			<div>
				<input type="text" class="long_text" id="url" ng-model="url" placeholder="URL" />
				<span type="button" class="button" ng-click="go()">傳送</span>
				<span type="button" class="button" ng-click="reset()">重設</span>
			</div>
			<div>
				<nav>
					<span id="get" class="option" ng-class="is_selected(1,'method')" ng-click="set_selected(1,'method')">GET</span>
					<span id="post" class="option" ng-class="is_selected(2,'method')" ng-click="set_selected(2,'method')">POST</span>
				</nav>
			</div>
			<div>
				<nav>
					<span id="text" class="option" ng-class="is_selected(1,'layout')" ng-click="set_selected(1,'layout')">TEXT</span>
					<span id="html" class="option" ng-class="is_selected(2,'layout')" ng-click="set_selected(2,'layout')">HTML</span>
					<span id="json" class="option" ng-class="is_selected(3,'layout')" ng-click="set_selected(3,'layout')">JSON</span>
				</nav>
			</div>
			<section class="group-3" style="width: 70%;">
				<div>
					<span>參數</span>
					<span>值</span>
					<i class="material-icons" ng-click="add()">&#xE147;</i>
				</div>
				<div ng-repeat="row in rows" ng-show="row.show">
					<span><input type="text" class="text" name="parms[]" ng-model="row.name" /></span>
					<span><input type="text" class="text" name="values[]" ng-model="row.value" /></span>
					<i class="material-icons" ng-click="hide(row.id)">&#xE15C;</i>
				</div>
			</section>
			<div class="res_text">{{ res_text }}</div>
			<div class="res_html" ng-bind-html='toTrustedHTML(res_html)'></div>
			<json-formatter open="1" json="{my: 'json'}"></json-formatter>
		</section>
	</body>
</html>